.table-responsive {
  width: auto !important;
  max-width: fit-content;
  margin: auto;
}

nav[aria-label="breadcrumb"] {
  display: none !important;
}

.page-navigation {
  background-image: url('images/banner_footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 160px;
  background-position: top;
}

.nav-page-text {
  font-family: Arial;
  font-weight: bold;
  color: #2E258D;
}

.bi-arrow-left-short {
  font-family: Arial;
  font-weight: bold;
  color: #2E258D;
}

.bi-arrow-right-short {
  font-family: Arial;
  font-weight: bold;
  color: #2E258D;
}

h1 {
  display: none;
}

h2.unnumbered {
  margin-top: 0pt;
  font-family: Arial;
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
  color: #2E258D;
}

h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 14pt;
  color: #3856A7;
  margin-top: 0pt;
}

h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 12pt;
  color: #3856A7;
  margin-top: 0pt;
}

body {
  font-family: Arial;
  font-size: 11pt;
}

li > ul {
  margin-top: 2pt;
  margin-bottom: 5pt;
}

.key-question {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 12pt;
  color: #2E258D;
  text-align: center;
}

.warning-box {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #DDC6CE;
  color: black;
  border: 2px solid #5F243C;
  border-radius: 10px;
}

.caveat-box {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #E1AA82;
  color: black;
  border: 2px solid #B56734;
  border-radius: 10px;
}

.ctg-box {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #E2E4F5;
  color: black;
  border: 2px solid #C0C4EA;
  border-radius: 10px;
  text-align: center;
}

.callout-note {
  border-left-color: #3856A7 !important;
}

.callout-note .callout-header {
  background-color: #BAC4DD !important;
}

.callout-tip {
  border-left-color: #426D6A !important;
}

.callout-tip .callout-header {
  background-color: #B2D4D2 !important;
}

.callout-body {
  font-family: Arial;
  font-size: 10pt !important;
  margin-bottom: 0pt !important;
}

.fig-tab-title {
  font-family: Arial;
  font-style: italic;
  font-size: 11pt;
  text-align: center;
  margin-bottom: 5pt;
}

.download-link {
  font-size: 9pt;
  font-weight: bold;
  border: 1px solid #4F81BD;
  background: #4F81BD;
  color: #FFFFFF;
}

